<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="css/style1.css" />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
    </head>
    <script>
        const logout = (evt) => {
            evt.preventDefault();
            fetch("/logout", { method: "POST" });
        };
    </script>

    <body>
        <main>
            <nav>
                <div class="container">
                    <h1>CCAC</h1>
                    <div class="menu">
                        <a href="#">LEADERBOARD</a>
                        <a href="#">TASK</a>
                        <a href="/logout" class="is-active">LOGOUT</a>
                    </div>

                    <button class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </nav>
            <div class="home-wrap">
                <div class="left">
                    <div class="profile">
                        <img src="images/image6.png" />
                        <!-- <div class="referral">
                            <div class="ref-heading">
                                REFERRAL CODE
                            </div>
                            <div class="ref-code">
                                ABX12EO
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="article-wrap"> -->
                <div class="center">
                    <div class="info">
                        <div class="name"><%= user.name %></div>
                        <div class="under-line"></div>
                        <div class="uni"><%= user.college %></div>
                    </div>
                    <div class="final-text">
                        <div class="ref">
                            <div class="ref-heading">REFERRAL CODE</div>
                            <div class="ref-code"><%=user.refCode%></div>
                        </div>
                        <p>
                            Earn more points!
                            <br />by referring to your friends
                        </p>
                    </div>
                </div>
                <div class="pts-wrap">
                    <div class="val"></div>
                    <div class="pts-text"></div>
                </div>
                <!-- </div> -->
            </div>
        </main>
        <script src="js/demo.js"></script>
    </body>
</html>
